<div class="wrapper" (window:keyup)="keyEvent($event)">
    <div class="button-set">
      <app-ctrls (sortTasks)='sortItems($event)'></app-ctrls>
    </div>
    <a [routerLink]="['create']">Create new task</a>
    <ul class="todo-list">
      <div *ngFor="let todoItem of todoList$ | async; let i = index; trackBy: trackByFn">
        <app-item
          *ngIf="showAll || todoItem.status === showDoneItems; else FirstTPL"
          [item]="todoItem" [itemIndex]="i"
          [isBuffer]="getIsBuffer()"
          (cancelEvt)="cancelEditHandler()"
          (saveEvt)="saveHandler($event)"
          (copyEvt)="onCopied($event)"
          (pasteEvt)="onPaste($event)"
          (deleteEvt)="onDelete($event)"
        >
        </app-item>
      </div>
      <ng-template #FirstTPL>Not Displayed</ng-template>
    </ul>
    <div class="total" *ngIf="getIsBuffer()">Total Copied: {{buffer.length}}</div>
</div>
